<!DOCTYPE html>
<html lang="en">
<head>
    <title>Walt Yao's Login/Register App</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
</head>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<body>
   
  <!-- <script>
  $( document ).click(function() {
    $( "#toggle" ).toggle( "explode", {pieces: 16 }, 2000 );
  });
  </script> -->

  <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 sign-inup-box">
            <div id="toggle" class="card bg-dark text-white" style="border-radius: 1rem;">

              <div id="loginRegControls" class="carousel slide" data-ride="carousel">
                <div class="topbar btn-group" role="group">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#loginRegControls" data-bs-slide-to="0" class="topbutton left btn btn-outline-light btn-lg d-none"></button>
                    <button type="button" data-bs-target="#loginRegControls" data-bs-slide-to="1" class="topbutton left btn btn-outline-light btn-lg active">Sign In</button>
                    <button type="button" data-bs-target="#loginRegControls" data-bs-slide-to="2" class="topbutton right btn btn-outline-light btn-lg">Sign Up</button>
                  </div>
                </div>

                <div class="carousel-inner">
                  <div id="forgot" class="carousel-item  p-5 text-center ">
                    <div>Walt Yao's Sign In/Up App
                      <h2 class="fw-bold mb-2 text-uppercase">Reset password</h2>

                      <form action="/auth/reset_password" method="POST">
                        <div class="form-outline form-white mb-4">
                          <input type="email" id="reset-email" name="email" class="form-control form-control-lg" required>
                          <label class="form-label" for="reset-email">Email</label>
                        </div>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Reset</button>
                      </form>
                    </div>
        
                  </div>

                  <div id="login" class="carousel-item active  p-5 text-center ">
                    <div>Walt Yao's Sign In/Up App
                      <h2 class="fw-bold mb-2 text-uppercase">Sign In</h2>

                      <form action="/auth/login" method="POST">
                        <div class="form-outline form-white mb-4">
                          <input type="email" id="login-email" name="email" class="form-control form-control-lg" required>
                          <label class="form-label" for="login-email">Email</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                          <input type="password" id="login-password" name="password" class="form-control form-control-lg" required>
                          <label class="form-label" for="login-password">Password</label>
                        </div>
                        
                        <button class="btn text-white-50 fw-bold btn-link"  data-bs-target="#loginRegControls" data-bs-slide-to="0">Forgot password?</button>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                      </form>

                      <div class="mt-4">
                        Or sign in with:
                        <div class="d-flex justify-content-center text-center mb-2 pt-1">
                          <a href="/auth/facebook" class="text-white social-icon"><i class="bi bi-facebook"></i></a>
                          <a href="/auth/twitter" class="text-white social-icon"><img src="icons/twitterX.svg" class="svg-twitter-logo"></a>
                          <a href="/auth/google" class="text-white social-icon"><i class="bi bi-google"></i></a>
                        </div>
                      </div>
        
                    </div>
        
                    <div>
                      <p class="mb-0">Don't have an account? <button class="btn text-white-50 fw-bold btn-link"  data-bs-target="#loginRegControls" data-bs-slide-to="2">Sign Up</button>
                      </p>
                    </div>
        
                  </div>


                  <div id="register" class="carousel-item  p-5 text-center">
        
                    <div>Walt Yao's Sign In/Up App
        
                      <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>

                      <form action="/auth/register" method="POST">
                        <div class="form-outline form-white mb-4">
                          <input type="username" id="reg-username" name="username" class="form-control form-control-lg" required>
                          <label class="form-label" for="reg-username">Username</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                          <input type="email" id="reg-email" name="email" class="form-control form-control-lg" required>
                          <label class="form-label" for="reg-email">Email</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                          <input type="password" id="reg-password" name="password" class="form-control form-control-lg" required>
                          <label class="form-label" for="reg-password">Password</label>
                        </div>
          
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
                        <div class="mt-4">
                          Or sign up with:
                          <div class="d-flex justify-content-center text-center mb-2 pt-1">
                            <a href="/auth/facebook" class="text-white social-icon"><i class="bi bi-facebook"></i></a>
                            <a href="/auth/twitter" class="text-white social-icon"><img src="icons/twitterX.svg" class="svg-twitter-logo"></a>
                            <a href="/auth/google" class="text-white social-icon"><i class="bi bi-google"></i></a>
                          </div>
                        </div>
                      </form>                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>