/* .homepageBG {
    background-image: linear-gradient(
        aliceblue,
        #1b33d0,
      );
} */

.opacity-transition {
    opacity: 0;
    animation: fade 0.5s ease-out forwards;
  }

@keyframes fade {
    0% {     opacity: 0;    }
    100% {     opacity: 1;    }
}